@media only screen and (min-width: 1080px) {
    
}

@media only screen and (min-width: 768px) {
    
}

.month-frame-container{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;

    & .month-day-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8px;
    }
}